// OpenSans Family
@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Light;
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Italic;
  src: url('../fonts/open-sans/OpenSans-Italic.ttf');
  font-style: normal;
}