// Rubik
@font-face{
  font-family: Rubik-Regular;
  src: url('../fonts/rubik/Rubik-Regular.ttf');
  font-style: normal;
}

// Rounded MPlus 1c
@font-face {
  font-family: MPLUSRounded-Regular;
  src: url('../fonts/mplusrounded1c/MPLUSRounded1c-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: MPLUSRounded-Bold;
  src: url('../fonts/mplusrounded1c/MPLUSRounded1c-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: MPLUSRounded-ExtraBold;
  src: url('../fonts/mplusrounded1c/MPLUSRounded1c-ExtraBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: MPLUSRounded-Black;
  src: url('../fonts/mplusrounded1c/MPLUSRounded1c-ExtraBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: MPLUSRounded-Medium;
  src: url('../fonts/mplusrounded1c/MPLUSRounded1c-Medium.ttf');
  font-style: normal;
}

// Lato
@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato-Regular.ttf');
  font-style: normal;
}