@import "custom";

/* ====== First block starts ====== */
.pricing-first-block {
  margin-top: 55px;
  padding-bottom: 280px;
  background-image: url('../img/pricing-blk-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;

  &__title {
    margin-bottom: 70px;

    h4 {
      @include h4-style;
      text-align: center;
    }
    h2 {
      @include h2-style;
      text-align: center;
      margin-bottom: 35px;
    }
    p {
      @include p-style;
      text-align: left;
      padding: 0 150px;
    }
  }
  &__content {
    display: flex;
    justify-content: center;

    .first-price-blk {
      position: relative;
      background-color: #f7f7f7;
      text-align: center;
      padding: 30px 0 37px;

      &__title {
        border-radius: 22px;
        background-color: rgb(0, 110, 182);
        width: 133px;
        height: 43px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        font: 1rem $OpenSansSemiBold;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        padding: 11px;
      }
    }
    .second-price-blk {
      position: relative;
      background-color: #f7f7f7;
      text-align: center;
      padding: 30px 0 37px;

      &__title {
        border-radius: 22px;
        background-color: rgb(0, 147, 198);
        width: 133px;
        height: 43px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        font: 1rem $OpenSansSemiBold;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        padding: 11px;
      }
      /*tooltip Box*/
      .con-tooltip {
        position: relative;
        border-radius: 9px;
        transition: all 0.3s ease-in-out;
        cursor: default;
      }
      /*tooltip */
      .tooltip {
        visibility: hidden;
        z-index: 1;
        opacity: .40;
        width: 135px;
        padding: 0px 10px;
        background: #fff;
        color: #343b42;
        border: 1px solid #2dafe5;
        position: absolute;
        top:-140%;
        left: -25%;
        border-radius: 50px;
        font-size: 16px;
        transform: translateY(9px);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

        & p{
          margin: 5px;
          text-align: center;
        }
      }
      /* tooltip  after*/
      .tooltip::before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 12px 12.5px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        left: 20%;
        top:-70%;
        z-index:9999;
      }
      .tooltip::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12.5px 0 12.5px;
        border-color: #2dafe5 transparent transparent transparent;
        position: absolute;
        left: 40%;
      }
      .con-tooltip:hover .tooltip{
        visibility: visible;
        transform: translateY(-10px);
        opacity: 1;
        transition: .3s linear;
        animation: odsoky 1s ease-in-out infinite  alternate;
      }
      @keyframes odsoky {
        0%{
          transform: translateY(6px);
        }
        100%{
          transform: translateY(1px);
        }
      }
      /*bottom*/
      .bottom .tooltip { top: 70%; left: 46%; }
      .bottom .tooltip::after{
        top: -37%;
        left: 20.3%;
        transform: rotate(180deg);
      }
    }
    .third-price-blk {
      position: relative;
      background-color: #f7f7f7;
      text-align: center;
      padding: 30px 0 37px;

      &__title {
        border-radius: 22px;
        background-color: rgb(45, 175, 229);
        width: 133px;
        height: 43px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        font: 1rem $OpenSansSemiBold;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        padding: 11px;
      }
      &__list{
        margin-bottom: 128px;
      }
    }
    .first-price-blk,
    .second-price-blk,
    .third-price-blk {
      max-width: 323px;
      margin-right: 25px;
      flex: auto;
      height: fit-content;

      &__subtitle{
        color: #343b42;
        font: 0.875rem $OpenSansRegular;
      }
      &__price{
        color: #343b42;
        font: 2.5rem $OpenSansBold;
      }
      &__list {
        text-align: left;
        color: #343b42;
        font: 0.875rem $OpenSansRegular;
        list-style: none;
        line-height: 2;
        padding: 0 30px;

        li {
          padding-left: 1.3em;
        }
        li::before {
          content: "+"; /* FontAwesome Unicode */
          color: #2dafe5;
          font-size: 0.875rem;
          display: inline-block;
          margin-left: -1.3em; /* same as padding-left set on li */
          width: 1.3em; /* same as padding-left set on li */
        }
        li.no-list-style::before{
          content: none;
        }
      }
      &__note{
        color: #343b42;
        font: 0.875rem $OpenSansRegular;
        padding: 30px 65px 41px;
      }
      &__btn {
        font: 1rem $OpenSansSemiBold;
        background-color: transparent;
        color: rgb(233, 90, 12);
        line-height: 1.2;
        text-align: center;
        border: 1px solid rgb(233, 90, 12);
        border-radius: 17px;
        width: 119px;
        height: 35px;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        cursor: pointer;

        &:hover {
          background-color: #fadece;
        }
      }
    }
  }
}
/* ====== First block ends ====== */
/* ====== Second block starts ====== */
.vergelijk-second-block{
  margin: 50px 0 90px;

  &__title{
    margin-bottom: 70px;

    h2 {
      @include h2-style;
      text-align: center;
      margin-bottom: 35px;
    }
    p {
      @include p-style;
      text-align: left;
      padding: 0 150px;
    }
  }
  &__content{

    #wrapper {

      .price-variant{
        display: flex;
        justify-content: flex-end;

        &__basic,
        &__advanced,
        &__enterprise{
          width:10%;
          text-align: center;
          padding: 19px;
          color: #fff;
          font: 0.875rem $OpenSansSemiBold;
        }
        &__basic{
          background-color: rgb(0, 110, 182);
        }
        &__advanced{
          background-color: rgb(0, 147, 198);
        }
        &__enterprise{
          background-color: rgb(45, 175, 229);
        }
      }
      .even {background-color: #f0f0f0;}
      .odd {background-color: #fafafa;}
      .accordionButton {
        display: flex;

        .very-first{
          border-top: 1px solid #e1e1e1;
        }
        &__title {
          width: 70%;
          padding: 14px 35px;
          border: 1px solid #e1e1e1;
          position: relative;
          font: 1rem $OpenSansRegular;
          border-top: 0;
          border-right: 0;

          .chevron_up{
            position: absolute;
            right: 25px;
            top: 50%;
            z-index: 9999;
            transform: translateY(-50%);
          }
        }
        &__exist {
          width: 10%;
          text-align: center;
          padding: 14px;
          border: 1px solid #e1e1e1;
          border-top: 0;
          border-right: 0;
        }
        &__exist:last-child{
          border-right: 1px solid #e1e1e1;
        }
      }
      .accordionContent {
        display: flex;
        flex-flow: column;

        &-sub {
          display: flex;
          margin-left: 30px;
          background-color: #ffffff;

          &__title {
            width: 69.4%;
            padding: 18px 27px;
            border: 1px solid #e1e1e1;
            font: 0.875rem $OpenSansRegular;
            border-top: 0;
            border-right: 0;
          }
          &__exist {
            width: 10.3%;
            text-align: center;
            padding: 14px;
            border: 1px solid #e1e1e1;
            justify-content: center;
            border-top: 0;
            border-right: 0;

            img {
              object-fit: contain;
            }
          }
          &__exist:last-child{
            border-right: 1px solid #e1e1e1;
          }
        }
      }
    }
  }
}
/* ====== Second block ends ====== */
@include enthousiast;
@include footer;