@import "custom";
/* ====== First block starts ====== */
.team-first-block{
  margin: 55px 0 100px;

  &__title{
    margin-bottom: 70px;

    h4 {
      font: 1.1875rem OpenSans-Bold;
      color: rgb(45, 175, 229);
      line-height: 1.2;
      text-align: center;
    }
    h2 {
      font: 2.125rem OpenSans-Regular;
      color: rgb(45, 175, 229);
      line-height: 1.2;
      text-align: center;
      margin-bottom: 35px;
    }
    p {
      font: 1rem OpenSans-Regular;
      color: rgb(128, 130, 131);
      line-height: 2.188;
      text-align: left;
      padding: 0 130px;
    }
  }
  &__content{

    .line-team-1{
      background-image: url(/img/path_2.png);
      height: 45px;
      background-repeat: no-repeat;
      background-position: 44.8% 14.8%;
    }
    .low-code{
      margin-top: -45px;

      .order-12{
        order: unset;
      }
    }
    .line-team-2{
      background-image: url(/img/path_1.png);
      height: 135px;
      background-repeat: no-repeat;
      background-position: 41.3% 15.8%;
    }
    .cross-device{
      margin-top: -80px;
      .team-first-block__left-blk{
        p{
          padding-right: 70px;
        }
      }
      .col-lg-6 img{
        margin-left: -30px;
      }
    }
    .team-first-block__left-blk{
      margin-top: 90px;

      h2 {
        font: 2.125rem OpenSans-Regular;
        color: rgb(45, 175, 229);
        line-height: 1.2;
        text-align: left;
        margin-bottom: 50px;
      }
      p{
        font: 0.875rem OpenSans-Regular;
        color: #808283;
        line-height: 2;
        padding-right: 120px;
      }
    }
    .team-first-block__right-blk{
      margin: 90px 0 0 50px;

      h2 {
        font: 2.125rem OpenSans-Regular;
        color: rgb(45, 175, 229);
        line-height: 1.2;
        text-align: left;
        margin-bottom: 50px;
      }
      p{
        font: 0.875rem OpenSans-Regular;
        color: #808283;
        line-height: 2;
        padding-right: 85px;
      }
      p:last-child{
        padding-right: 60px;
      }
    }
  }
}
/* ====== First block ends ====== */
/* ====== Second block starts ====== */
.aanpak-second-block{
  padding: 110px 0 130px;
  background-image: url('/img/Oval.png');
  background-position: center bottom;
  background-size: cover;

  &__title{
    //margin-bottom: 70px;

    h4 {
      font: 1.1875rem OpenSans-Bold;
      color: rgb(45, 175, 229);
      line-height: 1.2;
      text-align: center;
    }
    h2 {
      font: 2.125rem OpenSans-Regular;
      color: rgb(45, 175, 229);
      line-height: 1.2;
      text-align: center;
      margin-bottom: 35px;
    }
    p {
      font: 1rem OpenSans-Regular;
      color: rgb(128, 130, 131);
      line-height: 2.188;
      text-align: left;
      padding: 0 130px;
      margin: 0;
    }
  }
  &__content{

    &-left{
      .content-left__img-j {
        display: flex;
        justify-content: center;
      }
      .content-left__img{
        display: flex;
        justify-content: center;
      }
      img{
        height: 419px;
      }
    }
    &-right{
      .order-12{
        order: unset;
      }
      .content-right__img{
        display: flex;
        justify-content: center;
      }
      img{
        height: 419px;
      }
    }
    .content-left__text,
    .content-right__text{
      display: flex;
      flex-flow: column;
      justify-content: center;
      h4{
          font: 2.125rem OpenSans-Regular;
          color: rgb(45, 175, 229);
          line-height: 1.2;
          text-align: center;
      }
      p{
          font: 1.125rem OpenSans-Regular;
          color: rgb(128, 130, 131);
          line-height: 1.8;
          text-align: center;
        a{
          color: #2dafe5;
        }
      }
    }
  }
}
/* ====== Second block ends ====== */